* {
  margin:0px;
  padding:0px;
  box-sizing:border-box;
  font-family:"Roboto";
}
.header {
  position:fixed;
  top:0px;
  left:0px;
  width:100%;
  height:55px;
  background:#000;
}

.footer {
   position: fixed;
   left: 0;
   bottom: 0;
   width: 100%;
   background-color: rgb(75,0,130);
   color: white;
   text-align: center;
}

.header .toggle-btn {
  position:absolute;
  right:10px;
  width:55px;
  hright:55px;
  cursor:pointer;
}
.header span {
  position:relative;
  top:0px;
  display:block;
  background:#fff;
  width:80%;
  height:5px;
  margin:10px 0px;
}
.header .toggle-btn.active span:nth-child(1) {
  top:15px;
  transform:rotate(45deg);
  transition:top 200ms ease-in-out 0ms,transform 250ms ease-in-out 150ms;
}
.header .toggle-btn.active span:nth-child(3) {
  top:-15px;
  transform:rotate(-45deg);
  transition:top 200ms ease-in-out 0ms,transform 250ms ease-in-out 150ms;
}
.header .toggle-btn.active span:nth-child(2) {
  opacity:0;
  transition:opacity 50ms ease-in-out 150ms;
}
.header .toggle-btn span:nth-child(1),
.header .toggle-btn span:nth-child(3) {
  transition:transform 250ms ease-in-out 0ms,top 200ms ease-in-out 150ms;
}
.header .toggle-btn span:nth-child(2) {
  opacity:1;
  transition:opacity 50ms ease-in-out 200ms;
}
.sidebar {
  position:fixed;
  top:55px;
  right:-100%;
  width:100%;
  height:calc(100% - 55px);
  background:#202020;
  padding:15px;
  opacity:0;
  transition:all 450ms ease-in-out;
}
.sidebar .item {
  font-size:18px;
  color:#fafafa;
  font-weight:300;
  text-transform:uppercase;
  padding:12px 5px;
  border-bottom:1px solid #4b4a4a;
  cursor:pointer;
}
.sidebar.active {
  opacity:1;
  right:0px;
}

.main{
  position: fixed;
  top: 55px;
  left: 0px;
  width: 100%;
  height: calc(100%-55px);
}

.main .active{
  left: -100%;
}

.main .img1{
  float: right;
  border: 1px dotted black;
  margin: 40px 10px 30px 20px;
}

.main .img2{
  float: right;
  border: 1px dotted black;
  margin: 0px 0px 0px 0px;
}

.main .img3{
  float: left;
  border: 1px dotted black;
  margin: 0px 0px 0px 0px;
}

.main .item{
  font-size: 24px;
}