<meta name="viewport" content="width=device-width, initial-scale=1">

.container > div {
	display: flex;
}
.item > div{
	display: flex;
}

.container2 > div {
	display: flex;
}

html, body{
	background-image: url("a.jpg");
	background-repeat: no-repeat;
	background-size: cover;
}

