* {
    box-sizing: border-box;
}

.container{
	display: grid;
	align-content : center;
	grid-template-columns: auto auto auto auto auto auto auto auto auto;
 	grid-gap: 10px;
	background-color: black;
	padding: 10px;
}

.item{
	background-color: rgb(105,105,105);
	font-size: auto;
	color: white;
	text-align: center;
}

.container2{
	display: grid;
	align-content : center;
 	grid-gap: 10px;
	grid-template-rows: auto auto;
	grid-template-columns: auto auto;
	background-color: rgb(105,105,105);
	padding: 10px;
	opacity: 0.85;
}

.logo{
	grid-row: 1/3;
	flex: 33.33%;
	padding: 5px;
	background-color: rgb(168,236,100);
}

.visi{
	background-color: rgb(64,242,153);
	font-size: 30px;
}
.misi{
	grid-column: 2;
	background-color: rgb(127,255,212);
	font-size: 30px;
}
.footer {
   position: fixed;
   left: 0;
   bottom: 0;
   width: 100%;
   background-color: rgb(75,0,130);
   color: white;
   text-align: center;
}